@import 'mixins.less';

form textarea#content {
     width: 70%;
     height: 400px;
}

#container-wrapper {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

#left-menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
}

.left-menu-item {
	flex: 1;
	max-height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 2px dotted white;
	border-radius: 3px;
	background: rgba(255, 255, 255, 0.1);
	.pointer;

	&:hover {
		background: rgba(255, 255, 255, 0.3);
	}

	&:active {
		background: rgba(255, 255, 255, 0.6);
	}
}

#content {
	margin-left: 10px;
	flex: 7;
}

.form-upload {
    padding-top: 20px;
}

.authorize-url {
	display: none;
}

.ul-exportable-files li { 
	border: 1px transparent solid; 
	display: inline-block;
	width: 12em;
}

#exports-tab {
	display: none;
}