pre.code-snippet {
	padding: 14px;
	display: inline-block;
}

.post-attributes {

}

.left-column {
	list-style-type: none;
}

.author {
	color: #ffa5d2;
}

.date {
	color: #d8d8d8;
}

.category {
	color: #d8d8d8;
}

.post-title {
	font-weight: bold;
	padding-bottom: 25px;
	color: #ffa5d2;
	font-size: 25px;
	opacity: 0.8;
	text-shadow: 2px 2px 4px #000;
}

div.post-content {
	font-family: 'Oxygen', sans-serif;
	font-size: 14px;
}