#pgrid {
	width: 800px;
	height: 800px;
	position: relative;
	margin-left: 25%;
	font: bold 1em 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#listing {
	margin-right: 5%;
	text-decoration: underline;
	float:right;
	color: white;
}

#listing:hover {
	color: #ffa5d2;
}