{% extends "layout_admin.html" %}
{% block body %}
<h1>Add {{ target_model }}</h1>
{% from "_formhelpers.html" import render_field %}
<form method=post action="/addproject">
  <dl>
    {{ render_field(form.title) }}
    {{ render_field(form.description) }}
    {{ render_field(form.technologies) }}
    {{ render_field(form.status) }}
  </dl>
  <p><input type=submit class="btn-large btn-success" value="Add {{ target_model }}">
</form>

<h2> 
      Existing {{ target_model.lower() }}s
</h2>
	<table class="mtable table table-condensed">
	  <thead><tr>
       {% for field in fields %}
      	<th> {{ field.capitalize()  }}</th>
      	{% endfor %}
      </tr></thead>
    </tr>
   	{% for project in projects %}
   	<tr id="{{target_model.lower()}}_{{project.id }}">
   	<td> {{ project.id }} </td>
   	<td id="username" class="editable"> {{ project.title }} </td>
   	<td id="email" class="editable"> {{ project.description }} </td>
    <td> {{ project.technologies }} </td>
    <td> {{ project.status }} </td>
   	<td><input type='button' class="btn btn-primary edit-btn" value='Edit'></td>
   	<td><input type='button' class="btn btn-danger delete-btn" value='Delete'></td>
   	</tr>
   	{% endfor %} 
	</table>
{% endblock %}



