{% extends "layout_admin.html" %}
{% block body %}
<h1>Add {{ target_model }}</h1>
{% from "_formhelpers.html" import render_field %}
<form method=post action="/addstatus">
  <dl>
    {{ render_field(form.status) }}
  </dl>
  <p><input type=submit class="btn-large btn-success" value="Add {{ target_model }}">
</form>

<h2> 
      Existing {{ target_model.lower() }}s
</h2>
	<table class="mtable table table-condensed">
	  <thead><tr>
       {% for field in fields %}
      	<th> {{ field.capitalize()  }}</th>
      	{% endfor %}
      </tr></thead>
    </tr>
   	{% for status in statuses %}
   	<tr id="{{target_model.lower()}}_{{status.id }}">
   	<td> {{ status.id }} </td>
   	<td id="username" class="editable"> {{ status.status }} </td>
   	<td><input type='button' class="btn btn-primary edit-btn" value='Edit'></td>
   	<td><input type='button' class="btn btn-danger delete-btn" value='Delete'></td>
   	</tr>
   	{% endfor %} 
	</table>
{% endblock %}



