{% extends "layout_admin.html" %}
{% block body %}
<div class="container">
	<h6>Upload your csv file containing your data:<h6>
	<form class="form-upload form-group" action="/upload_datafile" method=post enctype=multipart/form-data>
		<p><input type=file name=file></p>
	    <input type=submit class="btn btn-primary" value=Upload>
	    <p class="help-block">
	    	Click <a href="#">here</a> for more information about how to structure your csv file (or check the <a href="#">wiki</a> of the project)
	    </p>
  	</form>
<div>
{% endblock %}