{% extends "layout.html" %}
{% block js_script %}
<script type=text/javascript src="{{ url_for('static', filename='js/blog.js') }}"></script>
{% endblock %}
{% block css %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
<link rel=stylesheet type="text/css" href="{{ url_for('static', filename='css/home.css') }}"></link>
{% endblock %}
{% block body %}
	{% for preview in previews_posts %}
		<div class="post container">
			<a class="post-title" href="/posts/{{preview.title.lower().replace(" ", "_")}}"> {{ preview.title }} </a>
			
			<div class="post-content"> {{ preview.content }} </div>

			<a class="read-more" href="/posts/{{preview.title.lower().replace(" ", "_")}}" >Read more...</a>
			<hr class="separator"></hr>
		</div>
	{% endfor %}
{% endblock %}