{% extends "layout.html" %}
{% block js_script %}
<script type=text/javascript src="{{ url_for('static', filename='js/blog.js') }}"></script>
{% endblock %}
{% block css %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<link rel=stylesheet type="text/css" href="{{ url_for('static', filename='css/home.css') }}"></link>
{% endblock %}
{% block body %}
	{% for preview in previews_posts %}
		<h2> {{ preview.title }} </h2>
		{{ preview.content }}
	{% endfor %}
{% endblock %}