<!DOCTYPE html>
<html lang="en">
<title> Jeremy Dagorn - Software engineer and story teller </title>
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-v2.0.3.js') }}"></script>
<link rel=stylesheet type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel=stylesheet type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
{% block js_script %}{% endblock %}
{% block css %}{% endblock %}
<header class="subhead">
    <div class="container">
        <div class="first_line">
            <div class="icon"></div>
            <h1 class="name">Jeremy Dagorn</h1>
        </div>
        <p class="lead">
            "Learn everywhere, everything, all the time"
    </div> 
</header>
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav nav-pills">
                <li class="active"><a href="/about">ABOUT</a></li>
                <li><a href="/projects">PROJECTS</a></li>
                <li><a href="/blog">BLOG</a></li>
            </ul>
        </div>
    </div>
</div>
{% block body %} 
{% endblock %}

