<!DOCTYPE html>
<html lang="en">
<title> Jeremy Dagorn - Software engineer and story teller </title>
<link rel=stylesheet type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel=stylesheet type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<script type=text/javascript src="{{
  url_for('static', filename='js/jquery-v2.0.3.js') }}"></script>
<script type=text/javascript src="{{
  url_for('static', filename='js/admin.js') }}"></script>
<header class="subhead">
    <div class="container">
        <div class="first_line">
            <div class="icon"></div>
            <h1 class="name">Jeremy Dagorn</h1>
        </div>
        <p class="lead">
            "Learn everywhere, everything, all the time"
    </div> 
</header>
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav nav-pills">
            	<li><a href="/adduser">USERS</a></li>
                <li><a href="/addproject">PROJECTS</a></li>
                <li><a href="/addstatus">STATUSES</a></li>
                <li><a href="/addpost">POSTS</a></li>
                <li><a href="/addtechnology">TECHNOLOGIES</a></li>
                <li><a href="/addcategory">CATEGORIES</a></li>
            </ul>
        </div>
    </div>
</div>
<h2>Admin interface</h2>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success"> {{ message }} </div>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}

