<!DOCTYPE html>
<html lang="en">
<title> Jeremy Dagorn - Software engineer and story teller </title>
<script type=text/javascript src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/utils.js') }}"></script>
<link rel=stylesheet type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel=stylesheet type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
{% block js_script %}{% endblock %}
{% block css %}{% endblock %}
<header class="subhead">
    <div class="container">
        <div class="social">
                <a href="http://www.twitter.com/jrm2k6" target="_blank"><img class="social-icons" src= "{{ url_for('static', filename='css/img/twitter.png') }}"></a>
                <a href="http://www.github.com/jrm2k6" target="_blank"><img class="social-icons" src= "{{ url_for('static', filename='css/img/github.png') }}"></a>
                <a href="http://ca.linkedin.com/in/jeremydagorn" target="_blank"><img class="social-icons" src= "{{ url_for('static', filename='css/img/linkedin.png') }}"></a>
                <a href="http://www.instagram.com/ohyeahserpieyeah" target="_blank"><img class="social-icons" src= "{{ url_for('static', filename='css/img/instagram.png') }}"></a>
            </div>
        <div class="first_line">
            <div class="icon"></div>
            <h1 class="name">Jeremy Dagorn</h1>
        </div>
        <div>
            <p class="lead">
                "Learn everything, everywhere, all the time"
            </p>
        </div>
    </div> 
</header>
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav nav-pills">
                <li class="active about"><a href="/about">ABOUT</a></li>
                <li class="projects"><a href="/projects">PROJECTS</a></li>
                <li class="blog"><a href="/blog">BLOG</a></li>
            </ul>
        </div>
    </div>
</div>
{% block body %} 
{% endblock %}
<div id="footer">
    Everything done by Jeremy Dagorn, powered by Flask.
</div>

