<!DOCTYPE html>
<html lang="en">
<title> Jeremy Dagorn - Software engineer and story teller </title>
<link rel=stylesheet type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel=stylesheet type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<link rel=stylesheet type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">
<script type=text/javascript src="{{
  url_for('static', filename='js/jquery-v2.0.3.js') }}"></script>
<script type="text/javascript">
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}
</script>
<script type=text/javascript src="{{
  url_for('static', filename='js/admin.js') }}"></script>
<header class="subhead">
    <div class="container">
        <div class="first_line">
            <div class="icon"></div>
            <h1 class="name">Jeremy Dagorn</h1>
        </div>
        <p class="lead">
            "Learn everywhere, everything, all the time"
    </div> 
</header>
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav nav-pills">
            	<li><a href="/adduser">USERS</a></li>
                <li><a href="/addproject">PROJECTS</a></li>
                <li><a href="/addstatus">STATUSES</a></li>
                <li><a href="/addpost">POSTS</a></li>
                <li><a href="/addtechnology">TECHNOLOGIES</a></li>
                <li><a href="/addcategory">CATEGORIES</a></li>
            </ul>
        </div>
    </div>
</div>
<h2>Admin interface</h2>
    {% for category, message in get_flashed_messages(with_categories=true) %}
      <div class="alert alert-{{category}}" data-dismiss="alert" href="#"> {{ message }} </div>
    {% endfor %}
{% block body %}{% endblock %}

