<!DOCTYPE html>
<html lang="en">
<title> Jeremy Dagorn - Software engineer and story teller </title>
<link rel=stylesheet type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel=stylesheet type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<link rel=stylesheet type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">
<script type=text/javascript src="{{
  url_for('static', filename='js/jquery.js') }}"></script>
<script type="text/javascript">
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}
</script>
<script type=text/javascript src="{{
  url_for('static', filename='js/admin.js') }}"></script>
<header class="subhead">
    <div class="container">
        <div class="first_line">
            <div class="icon"></div>
            <h1 class="name">Jeremy Dagorn</h1>
        </div>
        <p class="lead">
            "Learn everywhere, everything, all the time"
    </div> 
</header>
{% block body %}
    {{ post.title }}
{% endblock %}

