{% extends "layout.html" %}
{% block js_script %}
<script type=text/javascript src="{{ url_for('static', filename='js/blog.js') }}"></script>
{% endblock %}
{% block css %}
<link href='http://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
{% assets filters="less", output="css/home.css", 'css/home.less' %}
	<link rel=stylesheet type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
{% assets filters="less", output="css/post.css", 'css/post.less' %}
	<link rel=stylesheet type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}
{% block body %}
<div class="container-fluid">
    Oops, it seems like the requested page doesn't exist.
</div>
{% endblock %}