{% extends "layout.html" %}
{% block body %}

<div class="row">
    <div class="span4 offset2">
        <ul class="thumbnails">
             <li class="span4">
                 <a href="#" class="thumbnail">
                 <img src="{{ url_for('static', filename='css/img/me_large.jpg') }}" alt="">
                 </a>
             </li>
        </ul>
    </div>
    <div class="span6">
        <p class="about_me">
            <h3>My name is <strong> Jeremy Dagorn. </strong> </h3>
            I am currently working at <a href="www.prezi.com" target="_blank"><strong>Prezi</strong></a> as a software engineer, as part of the Collaboration team. <br \><br \>

            I love to learn, write code, write prose, criminology, startups and too many other stuff to fit 
on this page. <br \><br \>

            Before Prezi, I did some internships in France, and in the USA (UC Santa Cruz). I like to travel,
that's why I lived in France, USA, Canada, and Hungary.  <br \><br \>

             I love to learn new languages, and I have a<span class="love"> <em>secret</em> love </span> for functional programming, even if I am still a beginner.
 <br \><br \><br \>

             You can find here my formal resume. <br \>
             You can also reach me on <a href="http://www.github.com/jrm2k6" target="_blank" class="social_media_link">Github</a> and <a href="http://twitter.com/jrm2k6" target="_blank" class="social_media_link">Twitter</a>.
        </p>
    </div>
</div>

{% endblock %}
