{% extends "layout.html" %}
{% block js_script %}
<script type=text/javascript src="{{ url_for('static', filename='js/blog.js') }}"></script>
{% endblock %}
{% block css %}
{% assets filters="less", output="css/home.css", 'css/home.less' %}
	<link rel=stylesheet type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}
{% block body %}
	{% for preview in previews_posts %}
		<div class="post container">
			<a class="post-title" href="/posts/{{preview.title.lower().replace(" ", "_")}}"> {{ preview.title }} </a>
			
			<div class="post-content"> {{ preview.content }} </div>

			<a class="read-more" href="/posts/{{preview.title.lower().replace(" ", "_")}}" >Read more...</a>
			<hr class="separator"></hr>
		</div>
	{% endfor %}
{% endblock %}