<!DOCTYPE html>
<html lang="en">
<title> Jeremy Dagorn - Software engineer and story teller </title>
<link rel=stylesheet type="text/css" href="{{ url_for('static', filename='css/libs/bootstrap.min.css') }}">
{% assets filters="less", output="css/main.css", 'css/main.less' %}
  <link rel=stylesheet type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
{% assets filters="less", output="css/admin.css", 'css/admin.less' %}
<link rel=stylesheet type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
<script type=text/javascript src="{{
  url_for('static', filename='js/jquery.js') }}"></script>
<script type="text/javascript">
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}
</script>
<script type=text/javascript src="{{
  url_for('static', filename='js/admin.js') }}"></script>
<header class="subhead">
    <div class="container">
        <div class="first_line">
            <a class="icon" href="/admin"></a>
            <h1 class="name">Jeremy Dagorn</h1>
        </div>
        <p class="lead">
            "Learn everywhere, everything, all the time"
    </div> 
</header>
<div class="menu">
        <div class="menu-item active"><a href="/adduser">USERS</a></div>
        <div class="menu-item active"><a href="/addproject">PROJECTS</a></div>
        <div class="menu-item active"><a href="/addstatus">STATUSES</a></div>
        <div class="menu-item active"><a href="/addpost">POSTS</a></div>
        <div class="menu-item active"><a href="/addtechnology">TECHNOLOGIES</a></div>
        <div class="menu-item active"><a href="/addcategory">CATEGORIES</a></div>
</div>
<h2>Admin interface</h2>
    {% for category, message in get_flashed_messages(with_categories=true) %}
      <div class="alert alert-{{category}}" data-dismiss="alert" href="#"> {{ message }} </div>
    {% endfor %}
{% block body %}{% endblock %}

