<!DOCTYPE html>
<html lang="en">
<title> Jeremy Dagorn - Software engineer and story teller </title>
<script type=text/javascript src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/utils.js') }}"></script>
<link rel=stylesheet type="text/css" href="{{ url_for('static', filename='css/libs/bootstrap.min.css') }}">
{% assets filters="less", output="css/main.css", 'css/main.less' %}
  <link rel=stylesheet type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='css/img/favicon.png') }}"/>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48045020-1', 'jeremydagorn.com');
  ga('send', 'pageview');

</script>
{% block js_script %}{% endblock %}
{% block css %}{% endblock %}
<header class="subhead">
    <div class="container">
        <div class="social">
                <a href="http://www.twitter.com/jrm2k6" target="_blank"><img class="social-icons" src= "{{ url_for('static', filename='css/img/twitter.png') }}"></a>
                <a href="http://www.github.com/jrm2k6" target="_blank"><img class="social-icons" src= "{{ url_for('static', filename='css/img/github.png') }}"></a>
                <a href="http://ca.linkedin.com/in/jeremydagorn" target="_blank"><img class="social-icons" src= "{{ url_for('static', filename='css/img/linkedin.png') }}"></a>
                <a href="http://www.instagram.com/ohyeahserpieyeah" target="_blank"><img class="social-icons" src= "{{ url_for('static', filename='css/img/instagram.png') }}"></a>
            </div>
        <div class="first_line">
            <div class="icon"></div>
            <h1 class="name">Jeremy Dagorn</h1>
        </div>
        <div>
            <p class="lead">
                "Learn everything, everywhere, all the time"
            </p>
        </div>
    </div> 
</header>
<div class="menu">
        <div class="menu-item active about"><a href="/about">ABOUT</a></div>
        <div class="menu-item projects"><a href="/projects">PROJECTS</a></div>
        <div class="menu-item blog"><a href="/blog">BLOG</a></div>
</div>
{% block body %} 
{% endblock %}
<div id="push"></div>
<div id="footer">
    Everything done by Jeremy Dagorn, powered by Flask.
</div>

